@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{

    /* Colors: */
    $grey-color-707070: #707070;
    $red-color-ff0000: #FF0000;
    $darkgrey-color-333333: #333333;
    $white-color-ffffff: #FFFFFF;
    $black-color-000000: #000000;
    
    /* Font/text values */
    $font-family-open-sans: 'Open Sans';
}